@import url('https://fonts.googleapis.com/css?family=Montserrat');

*{
    margin:0; padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #ccc;
  }
  ::-moz-placeholder { /* Firefox 19+ */
    color: #ccc;
  }
  :-ms-input-placeholder { /* IE 10+ */
    color: #ccc;
  }
  :-moz-placeholder { /* Firefox 18- */
    color: #ccc;
  }

html,body{
    background: #eee;
}

.loader-screen{
    position: absolute;
    top: 0; bottom: 0;
    left: 0; right: 0;
    height: 100%; width: 100%;
    z-index: 999999;
    display: flex;
    background: rgba(0, 0, 0, 0.75);
}

.loader{
    margin: auto;
    height: 80px;
    width: 80px;
    position: relative;
    border-radius: 100%;
    border: 3px solid #39c;
    border-top-color: transparent;
    animation: rotate 500ms linear infinite;
}

.loader:after, .loader:before{
    content: "";
    position: absolute;
    top: 10px; left: 10px; right: 10px; bottom: 10px;
    border-radius: 100%;
    border: 6px solid #cc337a;
    border-left-color: transparent;
    animation: rotate 2000ms linear infinite alternate-reverse;
}

.loader:before{
    top: 25px; left: 25px; right: 25px; bottom: 25px;
    border: 5px solid #f39741;
    border-bottom-color: transparent;
}

@keyframes rotate {
    from {transform: rotate(0deg)}
    to {transform: rotate(360deg)}
}

.bg-fullscreen{
    position: absolute;
    height: 100%; width: 100%;
    top: 0; left: 0; right: 0; bottom: 0;
    background: url('../images/bg_with_logo.jpg');
    background-size: cover;
    background-position: 50% 50%;
}

.hidden{
    display: none !important;
}

.form.padded{
    padding: 10px;
    box-shadow: 1px 1px 3px #ddd;
    background: #fff;
    position: relative;
}

.form.login-form, .form.signup-form{
    position: absolute;
    right: 15%;
    top: 40%;
}

.form input, .form .input {
    display: block;
    font-size: 18px;
    padding: 20px 10px;
    margin: 0; 
    float: none;
    width: 400px;
    outline: none;
    border: none;
}

.form .input{
	border: 2px solid #fff;
	color: #ccc;
}

.input .switch{
	display: inline-block;
	margin-left: 30px;
}

.switch label{
	cursor: pointer;
}

.form .input:after, .form .input:before{
	content: "";
	display: table;
	clear: both;
}

.form input[type="radio"]{
	display: none;
}

.form input[type="radio"] + span{
	padding: 5px;
}

.form input[type="radio"]:checked + span{
	background: #39c;
	color: #fff;
}

.form input.error{
	border-bottom: 2px solid #c44 !important;
}

.form input[type="text"],.form input[type="password"]{
    background: #fff;
    color: rgb(36, 32, 32);
    border: 2px solid #fff;
}

.form input[type="button"]{
    cursor: pointer;
    background: #3a1c14;
    color: #fff;
    padding: 15px;
    width: 100%;
}

.form input[type="button"].success{
    background: #208628;
}

.form input[type="button"].error{
    background: #c44;
}

.form input[type="button"].warning{
    background: #ea9412;
}

.form input[type="file"]{
    opacity: 0;
    height: 0; width: 0;
    padding: 0;
}

.form input[type="file"] + label{
    width: 400px;
    padding: 20px 10px;
    display: inline-block;
    text-align: center;
    background: #eee;
    color: #545454;
    font-weight: bold;
    border: 1px dashed #adadad;
    cursor: pointer;
    border-radius: 3px;
    margin: 0 0 2px 0;
}

.form input[type="file"] + label.files-added{
    background: #3cb96e;
    color: #eee;
}

.form .helper{
    color: #555;
    font-size: 15px;
    text-align: right;
    cursor: pointer;
    margin: 10px 0;
}

.form .helper:hover{
    text-decoration: underline;
}

@keyframes fadein {
    from {top: 45%; opacity: 0}
    to {top: 40%; opacity: 1}
}

.delayed-fadein{
    animation: fadein 500ms linear forwards;
}

.intro-screen{
	display: flex;
	flex-direction: column;
	height: 100vh;
}

.navbar{
    background: #3a1c14;
    color: #fff;
    font-size: 25px;
    flex:none;
}

.navbar .brand{
    padding: 15px;
    float: left;
}

.navbar .brand-img{
    position: relative;
    top: 6px;
}

.navbar .logout{
    padding: 18px;
    float: right;
    cursor: pointer;
    background: #39cfff;
    color: #3a1c14;
}

.navbar:after,.navbar:before{
    content: "";
    display: table;
    clear: both;
}

[router-outlet]{
    padding: 50px 15px;
    flex: 1 100%;
}

[router-outlet]>div{
	display: flex;
}

.btn_holder{
    background: #fff;
    flex: none;
}

.card{
    background: #fff;
    padding: 20px;
    display: inline-block;
    border-radius: 2px;
    cursor: pointer;
    text-decoration: none;
    color: #333;
    transition: all 400ms;
}

.card.active{
    border-bottom: 2px solid #39c;
    background: #69c6f5;
    color: #fff;
}

.message-holder{
	display:flex;
}

.msg-system{
	color: #333;
	border-radius: 4px;
	padding: 15px;
	margin: 10px auto;
    width:420px;
    display: flex;
    font-size: 14px;
}

.msg-system .content{
    flex: 1 100%;
    align-self: center;
}

.msg-system .closeIt{
    flex: none;
    padding: 8px;
    cursor: pointer;
    font-weight: bold;
    color: #148467;
}

.msg-system.successfullMsg{
	background: #4becc3;
}

.msg-system.errorMsg{
	background: #c44;
	color: #eee;
}

.msg-system.errorMsg .closeIt{
	color:#fff;
}

[router-outlet]>div.result{
    display: block;
    margin: 50px auto 0;
    width: 70%;
}

.result h3{
    color: #555;
    padding: 5px;
}

.table{
    border-spacing: 0;
    width: 100%;
    border-collapse: collapse;
    background: #fff;
    box-shadow: 1px 1px 3px #ddd;
}

.table th,
.table td,
.table caption {
    padding: 20px;
    text-align: center;
    border: 1px solid #eee;
}

.action-btn{
    padding: 5px;
    border-radius: 4px;
    background: #39c;
    color: #fff;
    cursor: pointer;
    border: none;
}

.footer{
    flex: none;
    width: 100%;
    padding: 10px;
    background: #756f58;
    color: #fff;
}

.footer .footerContent{
    display: flex;
    width: 40%;
    margin: auto;
}

.footerContent > div{
    flex: 1 100%;
    align-self: center;
}

.df{
    display: flex;
}

.df > .ff{
    flex: 1 100%;
}

.df > .nf{
    flex: none;
}

.otp-grabber{
	position: relative;
}

.otp-grabber .verify-otp-btn{
	position: absolute;
	top: 15px; right: 5px;
	padding: 8px;
	border: none;
	border-radius: 5px;
	background: #39c; 
	color: #fff;
	cursor: pointer;
}

input[otp-verification-done="true"]{
	pointer-events: none;
	background: rgba(202, 243, 202, 0.4) !important;
}