<div class="message-holder">
		<div class="successfullMsg msg-system delayed-fadein hidden" id="missingMsg">
			<div class="content">
				<p>Missing Report Filed Successfully!</p>
			</div>
			<div class="closeIt">
				X
			</div>
		</div>
	</div>
<div>
	<form id="missingReportForm" class="form padded delayed-fadein" style="margin:auto;">
	    <input type="text" name="babyId" placeholder="NB Aadhar ID">
	    <input type="text" name="motherAadhar" placeholder="Mother's Aadhar">
	    <input type="text" name="fatherAadhar" placeholder="Father's Aadhar">
	    <!--<input type="text" name="birthPlace" placeholder="Birthplace">-->
	    <input type="button" class="error" value="Report Missing" onclick="submitMissingCase()">
	</form>
</div>