<div>
	<form id="trackForm" class="form padded delayed-fadein" style="margin:auto;">
	    <input type="file" name="scanToMatchLeft" id="filearrayLeft" accept="image/jpeg">
	    <label for="filearrayLeft" id="fileArrayLabel-left" default-content="Chose Left Scanned Image">Chose Left Scanned Image</label>
	    <input type="file" name="scanToMatchRight" id="filearrayRight" accept="image/jpeg">
	    <label for="filearrayRight" id="fileArrayLabel-right" default-content="Chose Right Scanned Image">Chose Right Scanned Image</label>
	    <input type="button" class="warning" value="Find Matches" onclick="trackBaby()">
	</form>
</div>
<div class="result hidden">
	<h3>Possible Matches</h3>
	<table class="table" id="missingKidsTable">
		<thead>
			<th>Serial no.</th>
			<th>UUID</th>
			<th>Matching Score</th>
			<th>Contact Number</th>
		</thead>
		<tbody></tbody>
	</table>
</div>