<div>
	<form id="trackForm" class="form padded delayed-fadein" style="margin:auto;">
	    <input type="file" name="scanToMatch" id="filearray" accept="image/jpeg">
	    <label for="filearray" id="fileArrayLabel" default-content="Chose Scanned Images">Chose Scanned Images</label>
	    <input type="button" class="warning" value="Find Matches" onclick="trackBaby()">
	</form>
</div>
<div class="result hidden">
	<h3>Possible Matches</h3>
	<table class="table" id="missingKidsTable">
		<thead>
			<th>Serial no.</th>
			<th>UUID</th>
			<th>Matching Percentage</th>
			<th>Action</th>
		</thead>
		<tbody></tbody>
	</table>
</div>