<div class="message-holder">
	<div class="successfullMsg msg-system delayed-fadein hidden" id="successfullMsg">
		<div class="content">
			<p>Details were successfully Updated</p>
		</div>
		<div class="closeIt">
			X
		</div>
	</div>
</div>
<div>
	<form id="updateBabyForm" class="form padded delayed-fadein" style="margin:auto;">
	<div>
	<input type="text" name="uuid" placeholder="UUID of Child" autocomplete="off" to-fetch>
	<input type="button" class="warning" name="fetchButton" value="Fetch Details" onclick="fetchBabyByUUID()">
	</div>
		<div class="df">
			<div class="ff">
				<input type="text" name="motherAadhar" placeholder="Mother's Aadhar" need-otp="mother" maxlength="12" autocomplete="off">
			    <input type="text" name="fatherAadhar" placeholder="Father's Aadhar" need-otp="father" maxlength="12" autocomplete="off">
			    
			    <input type="file" name="leftPalm" id="fileLeftPalm" accept="image/jpeg">
				<label for="fileLeftPalm" default-content="Chose Scanned Image of Left Palm">Chose Scanned Image of Left Palm</label>
			</div>
			<div class="ff">
				<input type="text" name="contactNumber" placeholder="Contact Number" autocomplete="off" maxlength="10">
				<input type="text" style="pointer-events:none">
				<input type="file" name="rightPalm" id="fileRightPalm" accept="image/jpeg">
			    <label for="fileRightPalm" default-content="Chose Scanned Image of Right Palm">Chose Scanned Image of Right Palm</label>
			</div>
		</div>
	    <input type="button" class="success" value="Submit" onclick="updateBabyData()" style="margin-top:10px;">
	</form>
</div>
